<div class="mb-20">
    <div class="inner-title">Sprache</div>
    <ul>
        {% for lang in aggregations %}
            <li {% if lang.active %}class="active"{% endif %}>
                {% if lang.active %}
                    <a rel="nofollow" href="{{ url(app.request.attributes.get('_route'), {slug:app.request.attributes.get('slug')}) }}?{{ getFilterQueryWithExcludedAggregation('fl') }}" title="Filter entfernen">
                        <i class="fa fa-close"></i> {{ lang.formattedName }}
                    </a>
                {% else %}
                    <a rel="nofollow" href="{{ url(app.request.attributes.get('_route'), {slug:app.request.attributes.get('slug')}) }}?{{ addAggregationToFilterQuery('fl',lang.name) }}">{{ lang.formattedName }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
