<div class="mb-20">
    <div class="inner-title">Format</div>
    <ul>
        {% for format in aggregations %}
            <li {% if format.active %}class="active"{% endif %}>
                {% if format.active %}
                    <a rel="nofollow" href="{{ url(app.request.attributes.get('_route'), {slug:app.request.attributes.get('slug')}) }}?{{ getFilterQueryWithExcludedAggregation('ff') }}" title="Filter entfernen">
                        <i class="fa fa-close"></i> {{ format.formattedName }}
                    </a>
                {% else %}
                    <a rel="nofollow" href="{{ url(app.request.attributes.get('_route'), {slug:app.request.attributes.get('slug')}) }}?{{ addAggregationToFilterQuery('ff',format.name) }}">{{ format.formattedName }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
