<div class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-middle">
                <p>
                    MySQL Bosslist Beispiel Shop
                </p>
                <br>
                <div class="row">
                    <div class="col-xl-3 f-col">
                        <div class="footer-static-block"> <span class="opener plus"></span>
                            <div class="f-logo">
                                <a href="#" title="Zur Startseite">
                                    <img src="{{ asset('shop/images/footer-logo.png') }}" alt="Komfortshop">
                                </a>
                            </div>
                            <div class="footer-block-content">
                                <p>Ein Produkt der LEIK Software GmbH</p>
                                <div class="copy-right ">© 2021 Alle Rechte vorbehalten.</div>
                                <div class="social-footer-icons">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 f-col">
                        <div class="footer-static-block"> <span class="opener plus"></span>
                            <h3 class="title">Über Komfortshop <span></span></h3>
                            <ul class="footer-block-content link">
                                <li><a href="#">Impressum</a></li>
                                <li><a href="#">AGB</a></li>
                                <li><a href="#">Datenschutz</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 f-col">
                        <div class="footer-static-block"> <span class="opener plus"></span>
                            <h3 class="title">Kundenservice <span></span></h3>
                            <ul class="footer-block-content link">
                                <li><a href="#"> Kontakt</a></li>
                                <li><a href="#"> Kopierschutz</a></li>
                                {# <li><a href="#"> FAQ</a></li>#}
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 f-col">
                        <div class="footer-static-block"> <span class="opener plus"></span>
                            <h3 class="title">Kontakt<span></span></h3>
                            <ul class="footer-block-content address-footer">
                                <li class="item"> <i class="fa fa-map-marker"> </i>
                                    <p>Elm Street 12<br>DE-12345 Sin City</p>
                                </li>
                                <li class="item"> <i class="fa fa-envelope"> </i>
                                    <p> <a href="mailto:alexander.keil@leik-software.com">alexander.keil@leik-software.com </a> </p>
                                </li>
                                <li class="item"> <i class="fa fa-phone"> </i>
                                    <p>(+49) 555 555XX555</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <small>* Befristete Preissenkung des Verlages. Preisangaben inkl. gesetzl. MwSt.</small>
            <hr><br/>
            <div class="footer-bottom ">
                <div class="row align-center">
                    <div class="col-12 ">
                        <div class="payment">
                            <ul class="payment_icon">
                                <li class="visa"><a href="#"><img src="{{ asset('shop/images/pay1.png') }}" alt="Stylexpo"></a></li>
                                <li class="discover"><a href="#"><img src="{{ asset('shop/images/pay2.png') }}" alt="Stylexpo"></a></li>
                                <li class="paypal"><a href="#"><img src="{{ asset('shop/images/pay3.png') }}" alt="Stylexpo"></a></li>
                                <li class="vindicia"><a href="#"><img src="{{ asset('shop/images/pay4.png') }}" alt="Stylexpo"></a></li>
                                <li class="atos"><a href="#"><img src="{{ asset('shop/images/pay5.png') }}" alt="Stylexpo"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
